# Dictionaries 


`- Dictionary is an unordered collection of key-value pairs.`

`- In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and   value can be of any type.`

`- To declare a dictionary, you write dictionaryName = {dictionary key : data}`

In [1]:
my_dict = {'key1':'value1','Key2':'value2','key3':'value3','Key4':'value4'}
my_dict

{'Key2': 'value2', 'Key4': 'value4', 'key1': 'value1', 'key3': 'value3'}

In [2]:
type(my_dict)

dict

In [3]:
list1 = ['value1','value2','value3','value4']
list1

['value1', 'value2', 'value3', 'value4']

In [4]:
type(list1)

list

In [5]:
list1[0]

'value1'

# Selection

- do selction with a key and get Values

In [6]:
my_dict['Key2']

'value2'

## using `get( )`

In [7]:
my_dict.get('Key2')

'value2'

In [1]:
# 
emp = {'Name':['Virat','Rohit','Dhoni'],'Age':[30,32,38],
       'Designation':['Captain','VC','Wk'], 'Role': "Cricketers"}

In [2]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers'}

In [3]:
len(emp)

4

# Add a new key value to a dict

In [4]:
emp['Runs'] = [11520, 8686,10773]
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [5]:
emp['Name']

['Virat', 'Rohit', 'Dhoni']

In [6]:
emp['Designation']

['Captain', 'VC', 'Wk']

In [7]:
emp.get('Age')

[30, 32, 38]

In [8]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

# Methods

In [9]:
emp_1 = emp.copy()
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [10]:
emp_1.items()

dict_items([('Name', ['Virat', 'Rohit', 'Dhoni']), ('Age', [30, 32, 38]), ('Designation', ['Captain', 'VC', 'Wk']), ('Role', 'Cricketers'), ('Runs', [11520, 8686, 10773])])

In [11]:
emp_1.keys() # this will return keys

dict_keys(['Name', 'Age', 'Designation', 'Role', 'Runs'])

In [12]:
emp_1.values() # this will return values

dict_values([['Virat', 'Rohit', 'Dhoni'], [30, 32, 38], ['Captain', 'VC', 'Wk'], 'Cricketers', [11520, 8686, 10773]])

In [13]:
emp_1.pop('Designation') # shift + tab

['Captain', 'VC', 'Wk']

In [14]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [15]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [26]:
emp_1.update({'Sal':'xxxx'})

In [27]:
emp_1

{'Age': [30, 32, 38],
 'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773],
 'Sal': 'xxxx'}

# Remove( )  pop( )  and Insert( ) a value in a Dict

In [16]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [19]:
emp['Age']

[30, 32, 38]

In [21]:
emp['Age'][0:2]

[30, 32]

In [22]:
emp['Age'].remove(38)
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [23]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32],
 'Role': 'Cricketers',
 'Runs': [11520, 8686, 10773]}

In [30]:
emp['Age'].insert(2,39)
emp

{'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [31]:
emp['Designation'].pop(2)
emp

{'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC'],
 'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [32]:
emp

{'Age': [30, 32, 39],
 'Designation': ['Captain', 'VC'],
 'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [33]:
emp['Role']

'Cricketers'

In [34]:
emp['Role'].lower()

'cricketers'

In [38]:
emp['Role'].replace("Cricketers","players")

'players'